dist: bionic
sudo: false
language: cpp 
compiler:
  - clang
  - gcc

apt: true
pip: true
directories:
- $HOME/.cache
- $HOME
- apt-cache/

before_install:
  - sudo apt-get update
  - sudo apt-get install -qy build-essential

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake
      - cmake-data
      - lcov
      - ggcov

install:
- pip install --user cpp-coveralls
- gem install  coveralls-lcov

script:
  - ./build.sh

after_success:
  - COVERAGE_FILES=$(find $PWD -name "coverage-filtered.info")
  - coveralls-lcov ${COVERAGE_FILES}

notifications:
  email:
    on_success: change
    on_failure: always
